<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <meta charset="UTF-8">
        <title>Pay My Buddy</title>
    </head>
    <body>
        <h2 class="h2">Sign In</h2>
        <table>

            <body>
                <input type="text" id="email" name="email">
				<input type="text" id="password" name="password">
				<a href="https://openclassrooms.com">OpenClassrooms</a>
            </body>
        </table>
    </body>
</html>